*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.main-container {
  margin: 2rem auto;
  width: 80vw;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 90vw;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 95vw;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 2rem;
  padding: 3rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 19, 19, 0.5)), to(rgba(33, 19, 19, 0.5))), url(img/two-boys.jpg);
  background-image: linear-gradient(to right, rgba(33, 19, 19, 0.5), rgba(33, 19, 19, 0.5)), url(img/two-boys.jpg);
  background-size: cover;
  background-position: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #5610ed;
}

@media only screen and (max-width: 900px) {
  .form {
    grid-row-gap: 0;
    padding-bottom: 0;
    padding-top: 2rem;
  }
}

.form__heading {
  font-size: 6rem;
  margin: 3rem;
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .form__heading {
    margin: 2rem;
  }
}

.form__group {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  padding: 2rem;
  font-size: 2.5rem;
  display: block;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-bottom: 3px solid transparent;
}

@media only screen and (max-width: 900px) {
  .form__input {
    padding: 1.5rem;
    font-size: 2rem;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(45, 38, 38, 0.1);
          box-shadow: 0 1rem 2rem rgba(45, 38, 38, 0.1);
  border-bottom: 3px solid #3aba21;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff0000;
}

.form__label {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1rem;
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  border: none;
  font-size: 3rem;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  color: inherit;
  background-color: cyan;
  text-transform: uppercase;
}

.form__btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form__btn {
    font-size: 2rem;
  }
}

.questions-container {
  margin-top: 5rem;
  background-color: #777;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

@media only screen and (max-width: 600px) {
  .questions-container {
    margin-top: 1rem;
  }
}

.questions-container h3 {
  grid-column: 1 / -1;
  color: cyan;
}

.questions-container li {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #778ca3;
  padding: .5rem 0;
  margin: 0 1rem;
}

@media only screen and (max-width: 900px) {
  .questions-container li:nth-child(even) {
    margin-left: 2rem;
  }
  .questions-container li:nth-child(odd) {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .questions-container li {
    margin: 0 2rem;
  }
}

.questions-container li .iNumber {
  color: blue;
  margin: auto 1rem;
}

.questions-container li span {
  display: block;
}

.questions-container li .answer {
  font-size: 3rem;
  border: 1px solid #45aaf2;
  display: block;
  background-color: inherit;
  width: 50%;
  color: #fff;
  text-align: center;
}

.questions-container li .answer:focus {
  background-color: #fd9644;
}

.submitQuestionsButton-container {
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
  display: none;
}

@media only screen and (max-width: 900px) {
  .submitQuestionsButton-container {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
}

@media only screen and (max-width: 600px) {
  .submitQuestionsButton-container {
    padding: 4rem;
  }
}

.submitQuestionsButton {
  display: block;
  border: none;
  font-size: 3rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  background-color: cyan;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .submitQuestionsButton {
    padding: 1.5rem 3rem;
  }
}

.submitQuestionsNote {
  background-color: #d1d8e0;
  color: #4b7bec;
  font-size: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  display: none;
}

@media only screen and (max-width: 600px) {
  .submitQuestionsNote {
    padding: 1.4rem;
    font-size: 2.2rem;
  }
}

.newPractice {
  background-color: #777;
  display: none;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.newPractice__link {
  font-size: 3rem;
  text-decoration: none;
  background-color: #fed330;
  display: inline-block;
  padding: 2rem 5rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  position: relative;
}

.newPractice__link::after {
  content: '';
  font-size: 3rem;
  text-decoration: none;
  background-color: #fed330;
  display: inline-block;
  padding: 2rem 5rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: newPracticeButton 1s infinite;
          animation: newPracticeButton 1s infinite;
}

@-webkit-keyframes newPracticeButton {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

@keyframes newPracticeButton {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.formMistake {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 5;
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  height: 100vh;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.formMistake__elements-container {
  background-color: #d1d8e0;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding: 5rem;
  color: #333;
  font-size: 2.5rem;
  -webkit-box-shadow: 0 1rem 2rem #fd9644;
          box-shadow: 0 1rem 2rem #fd9644;
}

@media only screen and (max-width: 900px) {
  .formMistake__elements-container {
    width: 80%;
    font-size: 2.5rem;
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .formMistake__elements-container {
    width: 90%;
    font-size: 2rem;
    padding: 3rem 1rem;
    height: 50vh;
  }
}

.formMistake__text {
  padding: 2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 900px) {
  .formMistake__text {
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .formMistake__text {
    font-size: 2.5rem;
    padding: 1rem;
  }
}

.formMistake__button {
  border: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  background-color: #a55eea;
  border-radius: 3px;
  color: currentColor;
  font-size: inherit;
  margin: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.formMistake__button:hover {
  background-color: #262626;
  color: #fd9644;
  cursor: pointer;
}

.formMistake__button:focus {
  outline: none;
}

.checkAnswersPopup {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.checkAnswersPopup__elements-container {
  background-color: #d1d8e0;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding: 5rem;
  color: #333;
  font-size: 2.5rem;
  -webkit-box-shadow: 0 1rem 2rem #fd9644;
          box-shadow: 0 1rem 2rem #fd9644;
  line-height: 1.6;
}

@media only screen and (max-width: 900px) {
  .checkAnswersPopup__elements-container {
    padding: 5rem 3rem;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .checkAnswersPopup__elements-container {
    padding: 2rem;
    width: 90%;
  }
}

.checkAnswersPopup__text {
  padding: 2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .checkAnswersPopup__text {
    padding: 1rem;
    font-size: 2rem;
  }
}

.checkAnswersPopup__button {
  border: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  background-color: #a55eea;
  border-radius: 3px;
  color: currentColor;
  font-size: inherit;
  margin: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.checkAnswersPopup__button:hover {
  background-color: #262626;
  color: #fd9644;
  cursor: pointer;
}

.checkAnswersPopup__button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .checkAnswersPopup__button {
    font-size: 2.5rem;
    padding: 2rem 5rem;
  }
}

.footer {
  background-color: #333;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding: 5rem 0;
}

@media only screen and (max-width: 900px) {
  .footer {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 3rem 0;
    padding-top: 2rem;
  }
}

.footer__logo {
  font-size: 13rem;
  color: #7ed56f;
  margin: 3rem;
}

@media only screen and (max-width: 900px) {
  .footer__logo {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer__logo {
    font-size: 7rem;
  }
}

.footer__copyright {
  width: 70%;
  margin: auto;
  line-height: 1.6;
}

@media only screen and (max-width: 900px) {
  .footer__copyright {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .footer__copyright {
    width: 90%;
  }
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  background-color: #333;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: cyan;
}

.footer__link:link:hover, .footer__link:visited:hover {
  -webkit-transform: scale(1.2) rotate(10deg);
          transform: scale(1.2) rotate(10deg);
  color: #7ed56f;
}

@media (hover: none) {
  .footer__link:link, .footer__link:visited {
    color: #7ed56f;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="radio"] {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  input[type="radio"] {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  input[type="radio"] {
    width: 20px;
    height: 20px;
  }
}

.labels {
  display: inline-block;
  color: brown;
  font-size: 3rem;
  position: absolute;
  right: 28%;
}

@media only screen and (max-width: 900px) {
  .labels {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .labels {
    font-size: 1.7rem;
  }
}

.last-labels {
  right: 10%;
}
/*# sourceMappingURL=style.css.map */